<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">  
  
  <display-name>BankApplication</display-name>
 
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet>  
  <servlet-name>LoginController</servlet-name>  
  <servlet-class>mypack.LoginController</servlet-class>  
  </servlet>  
  
  
   <servlet>  
  <servlet-name>AddAccount</servlet-name>  
  <servlet-class>mypack.AddAccount</servlet-class>  
  </servlet>  
  
  <servlet>  
  <servlet-name>TransactionServlet</servlet-name>  
  <servlet-class>mypack.TransactionServlet</servlet-class>  
  </servlet> 
  
  <servlet>  
  <servlet-name>DebitCredit</servlet-name>  
  <servlet-class>mypack.DebitCredit</servlet-class>  
  </servlet> 
  
   <servlet>  
  <servlet-name>AddCustomer</servlet-name>  
  <servlet-class>mypack.AddCustomer</servlet-class>  
  </servlet> 
  
     <servlet>  
  <servlet-name>Deactivate</servlet-name>  
  <servlet-class>mypack.Deactivate</servlet-class>  
  </servlet> 
  
  <servlet>  
  <servlet-name>Activate</servlet-name>  
  <servlet-class>mypack.Activate</servlet-class>  
  </servlet> 
  
  
  <servlet-mapping>  
  <servlet-name>LoginController</servlet-name>
  <url-pattern>/LoginController</url-pattern>  
  </servlet-mapping>  
  
  <servlet-mapping>  
  <servlet-name>AddAccount</servlet-name>  
  <url-pattern>/AddAccount</url-pattern>  
  </servlet-mapping>  
  
  <servlet-mapping>  
  <servlet-name>TransactionServlet</servlet-name>  
  <url-pattern>/TransactionServlet</url-pattern>  
  </servlet-mapping> 
   
    <servlet-mapping>  
  <servlet-name>DebitCredit</servlet-name>  
  <url-pattern>/DebitCredit</url-pattern>  
  </servlet-mapping>  
  
   <servlet-mapping>  
  <servlet-name>AddCustomer</servlet-name>  
  <url-pattern>/AddCustomer</url-pattern>  
  </servlet-mapping>  
  
  <servlet-mapping>  
  <servlet-name>Deactivate</servlet-name>  
  <url-pattern>/Deactivate</url-pattern>  
  </servlet-mapping> 

  
  <servlet-mapping>  
  <servlet-name>Activate</servlet-name>  
  <url-pattern>/Active</url-pattern>  
  </servlet-mapping> 
  
  
</web-app>